name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  BlmapChill:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup
        run: |
          wget -O master_BlmapChill.map https://github.com/DDNetPP/maps/raw/master/BlmapChill.map
          wget https://zillyhuhn.com/tmp/edit_map && chmod +x edit_map

      - name: Prepare maps
        run: |
          ./edit_map master_BlmapChill.map master --mapdir
          ./edit_map BlmapChill.map new --mapdir
          cd master || exit 1
          {
            git init
            git config --global user.email "you@example.com"
            git config --global user.name "Your Name"
            git config --global color.ui auto
            git add . && git commit -m "init";
          } >/dev/null
          rm -rf *
          cp -r ../new/* .
          git --no-pager diff

      - name: Show status
        run: cd master && git status
